body {
    background-image: url('https://us.123rf.com/450wm/natrot/natrot1608/natrot160800105/61348388-degradado-azul-abstracto-se-utiliza-como-fondo-para-la-exhibici%C3%B3n-de-productos-vector.jpg'); 
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    border-radius: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.linkRegistro{
    position: fixed;
    left: 41%;
}

.forgot{
    text-align: right;
    font-size: small;
}

  
.forgot-password-screen {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    font-size: 24px;
    margin-bottom: 10%;
    text-align: center;
}
  
p {
    margin-bottom: 10px;
}

.emailText{
    position: relative;
    left: 2.7%;
}
  
input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}